h1.title, h2.title {
	　 /* 小画面用 */
	color: #333;
	line-height: 1.2;
	border-bottom: solid 1px #999;
	margin-bottom: 8px;
}

h1.title {
	font-size: 20px;
}

h2.title {
	font-size: 18px;
}

.main-text {
	font-size: 14px;
	line-height: 1.5;
}

@media only screen and (min-width:651px) {
	　 /* 中画面用 */
	h1.title {
		font-size: 24px;
	}

	h2.title {
		font-size: 20px;
	}

	.main-text {
		font-size: 16px;
	}
}

@media only screen and (min-width:961px) {
	　 /* 大画面用 */
	h1.title {
		font-size: 26px;
	}

	h2.title {
		font-size: 22px;
	}

	.main-text {
		font-size: 17px;
	}
}
